body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.bold{
  font-weight: bold;
}
.grey{
  color: #918E9B;
}

nav{
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.9px 7.4px rgba(0, 0, 0, 0.1);
}

.nav--logo{
  max-width: 100px;
}

section{
  padding: 20px;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero--photo{
  max-width: 400px;
  align-self: center;
}

.hero--header{
  margin-bottom: 16px;
}

.hero--text{
  margin-top: 0;
}

.card-container{
  display: flex;
}


.card{
  width: 175px;
  font-size: 12px;
}
.card p{
  margin: 0;
}
.card--head{
  position: relative;
}
.card--img{
  width: 100%;
  border-radius: 9px;
}
.card--img-status {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 5px;
  background-color: #fff; /* Add a background color for visibility */
  border-radius: 9px;
  padding: 5px 10px;
  font-weight: bold;
}
.card--status{
  display: flex;
  align-items: center;
}
.card--star{
  height: 14px;
}
